################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ReactWithDotNet.VisualDesigner/bin
/ReactWithDotNet.VisualDesigner/obj
/ReactWithDotNet.VisualDesigner/wwwroot/.idea
/ReactWithDotNet.VisualDesigner.Test/bin
/ReactWithDotNet.VisualDesigner.Test/obj
/_ReSharper.Caches/
/VsOpenFileAtLine/bin
/VsOpenFileAtLine/obj
/ReactWithDotNet.VisualDesigner.sln.DotSettings.user
/TsxFormatter/node_modules


/BDigitalFrameworkApiToTsExporter/.vs/
/BDigitalFrameworkApiToTsExporter/src/bin
/BDigitalFrameworkApiToTsExporter/src/obj
/BDigitalFrameworkApiToTsExporter/bin
/BDigitalFrameworkApiToTsExporter/_ReSharper.Caches/

/ReactWithDotNet.VisualDesigner.Plugins.b-digital/bin
/ReactWithDotNet.VisualDesigner.Plugins.b-digital/obj
/ReactWithDotNet.VisualDesigner.Plugins.b-digital.ApiToTsExporter/bin
/ReactWithDotNet.VisualDesigner.Plugins.b-digital.ApiToTsExporter/obj
/Bootstrappers/.vs/
/Bootstrappers/b-digital-api-to-ts-exporter/.vs/
/Bootstrappers/b-digital-api-to-ts-exporter/bin
/Bootstrappers/b-digital-api-to-ts-exporter/obj
/Bootstrappers/b-digital-api-to-ts-exporter/Properties/PublishProfiles/FolderProfile.pubxml.user
/Bootstrappers/b-digital-api-to-ts-exporter/b-digital-api-to-ts-exporter.csproj.user
/Bootstrappers/b-visual-designer/obj
/Bootstrappers/b-visual-designer/Properties/PublishProfiles/FolderProfile.pubxml.user
/Bootstrappers/b-visual-designer/bin
/Bootstrappers/b-visual-designer/b-visual-designer.csproj.user
/ReactWithDotNet.VisualDesigner.Plugins.b-digital-api-to-ts-exporter/obj
