################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ReactWithDotNet.VisualDesigner/bin
/ReactWithDotNet.VisualDesigner/obj
/ReactWithDotNet.VisualDesigner/wwwroot/.idea
/ReactWithDotNet.VisualDesigner.Test/bin
/ReactWithDotNet.VisualDesigner.Test/obj
/_ReSharper.Caches/
/VsOpenFileAtLine/bin
/VsOpenFileAtLine/obj
