################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ReactWithDotNet.VisualDesigner/bin
/ReactWithDotNet.VisualDesigner/obj
/ReactWithDotNet.VisualDesigner/wwwroot/.idea
/ReactWithDotNet.VisualDesigner.Test/bin
/ReactWithDotNet.VisualDesigner.Test/obj
/_ReSharper.Caches/
/VsOpenFileAtLine/bin
/VsOpenFileAtLine/obj
/ReactWithDotNet.VisualDesigner.sln.DotSettings.user
/TsxFormatter/node_modules


/BDigitalFrameworkApiToTsExporter/.vs/
/BDigitalFrameworkApiToTsExporter/src/bin
/BDigitalFrameworkApiToTsExporter/src/obj
/BDigitalFrameworkApiToTsExporter/bin
/BDigitalFrameworkApiToTsExporter/_ReSharper.Caches/

/ReactWithDotNet.VisualDesigner.Plugins.b-digital/bin
/ReactWithDotNet.VisualDesigner.Plugins.b-digital/obj
/ReactWithDotNet.VisualDesigner.Plugins.b-digital.ApiToTsExporter/bin
/ReactWithDotNet.VisualDesigner.Plugins.b-digital.ApiToTsExporter/obj
/ReactWithDotNet.VisualDesigner.Bootstrapper/bin
/ReactWithDotNet.VisualDesigner.Bootstrapper/obj
/ReactWithDotNet.VisualDesigner.Bootstrapper/Properties/PublishProfiles/FolderProfile.pubxml.user
