browsers:
  'windows':
    - 'C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe'
    - 'C:\Program Files\Google\Chrome\Application\chrome.exe'
    - 'C:\Program Files\Mozilla Firefox\firefox.exe'
  'mac':
    - '/Applications/Google Chrome.app/Contents/MacOS/Google Chrome'
  'linux':
    - '/usr/bin/google-chrome'
browserExeArguments: "--app=http://localhost:{Port}/"
hideConsoleWindow: true
nextAvailablePortFrom: 5006
useUrls: true

database:
  isSQLite: true
  connectionString: 'Data Source=C:\github\ReactWithDotNet.VisualDesigner\app.db'

# database:
#   isSQLServer: true
#   schemaName: 'RVD'
#   connectionString: 'Server=tcp:beyaz.database.windows.net,1433;Initial Catalog=ReactVisualDesigner;Persist Security Info=False;User ID=beyaz;Password=t5U7*n_5fHJ_r-yU;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;'